.contentBlur {
    filter: blur(4px);
    pointer-events: none;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup {
    background: white;
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popupHeader, 
.popupDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.popupDetails {
    flex-direction: column;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.popupSubDetails,
.popupMiniDetails {
    display: flex;
    width: 100%;
    gap: 0.5em;
}

.popupSubDetails p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.number {
    width: 10em;
}
/* .popupSubDetails{
    align-items: center;
    justify-content: space-between;
} */

.close {
    cursor: pointer;
    height: 25px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.inputs input {
    width: 5em;
}

.incomeList, 
.expenseList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.incomeList p, 
.expenseList p{
    padding-right: 1em;
}
.income,
.expense {
    padding-left: 1em;
    margin-bottom: 1em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
}
.container h2 {
    padding-left: 0.5em;
}
.mainContainer {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 90%;
}

.detailsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.target {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.current {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    /* gap: 15em; */
    padding: 1em;
} 

.current p {
    /* width: 10em; */
    margin-left: 1em;
    margin-right: 1em;
}

.current p div {
    display: flex; 
}

.surplus {
    margin: 2em;
    margin: 5em;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthsContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}

.monthSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.months {
    text-align: center;
    padding: 1em;
    width: 4em;
    text-align: center;
    margin: 1em;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.months:hover {
    transform: scale(1.05);
}
@media (max-width: 600px) {
    .months {
        /* width: 3em; */
        text-align: center;
    }
}
.charts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.barChart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 3em;
    margin: 50px auto;
    height: 500px;
}

@media (max-width: 600px) {
    .barChart {
        width: 90vw;
    }
}

.gaugeChart {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2em;
    border-radius: 1em;
    max-width: 100%;
    width: 320px;
    box-sizing: border-box;
    margin: 1em auto;
  }

@media (max-width: 600px) {
    .gaugeChart {
      width: 90vw;
      padding: 1.5em;
    }
  }



