.contentBlur {
    filter: blur(4px);
    pointer-events: none;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup {
    background: white;
    border-radius: 8px;
    width: 20vw;
    height: 15vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popupHeader, .popupDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.popupDetails {
    flex-direction: column;
}

.popupSubDetails,
.popupMiniDetails {
    display: flex;
    width: 100%;
    gap: 1em;
}

.popupSubDetails{
    align-items: center;
    justify-content: center;
}

.close {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
}
.mainContainer {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 90%;
}

.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
    width: 100%;
}

.details {
    width: 75%;
}
.mainCurrent ,
.target{
    border-right: 1px solid rgba(0, 0, 0, 0.3) ;
}
.mainCurrent {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.current {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15em;
    padding: 2em;
} 

.current p {
    width: 10em;
}

.surplus {
    width: 50%;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}

.monthSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.months {
    padding: 2em;
    width: 4em;
    text-align: center;
    margin: 1em;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.months:hover {
    background-color: rgb(230, 230, 230);
}