.goalSection .contentBlur {
    filter: blur(4px);
    pointer-events: none;
}

.goalSection .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.goalSection .popup {
    background: white;
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.goalSection .popup .headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.goalSection .popup .headers .iconClose {
    transition: 0.3s ease;
    cursor: pointer;
}
.goalSection .popup .headers .iconClose:hover {
    transform: scale(1.1);
}
.goalSection .popup .formDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
}
.goalSection {
    /* background-color: red; */
}
.goalSection .formDetails div {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.goalSection .formDetails input {
    width: 180px;
    padding: 0.2em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.494);
}

.goalSection .formDetails button{
    margin-top: 1em;
    width: 20%;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.6em;
    transition: 0.3s ease;
    cursor: pointer;
}

.goalSection .formDetails button:hover {
    background-color:black;
    color: white;
    transform: scale(1.1);
}


.goalSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.goalSection .form  {
    padding: 1em;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.goalSection h2 {
    text-align: center;
}
.goalSection .form div {
    display: flex;
    align-items: start;
    justify-content: start;
    /* gap: 0.5em; */
}
.goalSection .form div label {
    width: 7em;
}
.goalSection .form input {
    width: 20em;
    padding: 0.2em;
    border-radius: 5px;
    transition: 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.391);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.goalSection textarea {
    padding: 0.2em;
    border-radius: 5px;
    transition: 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.391); 
}
.goalSection button{
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: bolder;
}
.goalSection input:hover,
.goalSection textarea:hover {
    transform: scale(1.05);
}
.goalSection button:hover {
    background-color:black;
    color: white;
    transform: scale(1.1);
}
.goalSection .button {
    transition: 0.3s ease;
    cursor: pointer;
}
.goalSection .button:hover {
    transform: scale(1.1);
}
.goalSection .goals {
    width: 70vw; 
    margin: 0;
}
.goalSection section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.goalSection .goalsHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goalSection ul {
    list-style: none;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.goalSection li{
    margin: 1em;
    padding: 1em;
    width: 25%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}
.goalSection li:hover{
    background-color: rgba(0, 0, 0, 0.12);
}
@media (max-width: 813px) {
    .goalSection li {
        width: 100%;
    }
    .goalSection .goals {
        width: 95vw;
    }
}
.goalSection .descriPrice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.goalSection .actionPlan p, 
.goalSection .shortComings p {
    width: 100%;
}
.goalSection .delete{
    display: flex;
    justify-content: end;
    align-items: center;
}
.goalSection .deleteButton{
    cursor: pointer;
    transition: 0.3s ease;
}
.goalSection .deleteButton:hover{
    transform: scale(1.5);
}

