.checksins .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checksins .topContainer {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checksins .topContainer ul {
    list-style: none;
}
.checksins .topContainer li div p {
    width: 150px;
    text-align: center;
}
.checksins .topContainer li div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.checksins .topContainer .input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 190px;
}
.checksins .topContainer input {
    width: 100px;
    text-align: center;
    display: flex;
}
.checksins .topContainer .input button {
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    margin-left: 3px;
}
.checksins .topContainer .input button:hover{
    transform: scale(1.2);
}
.checksins .add {
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 2px;
    margin-right: 2px;
}
.checksins .add:hover{
    transform: scale(1.05);
}
.checksins .midContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checksins .midContainer ul {
    list-style: none;
}
.checksins .midContainer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.checksins .midContainer .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checksins .midContainer input {
    padding: 0.2em;
    padding-left: 1em;
    border: 1px solid black;
}

.checksins .bottomContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.checksins .bottomContainer ol li {
    margin: 0.5em;
}
.checksins .bottomContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checksins .bottomContainer input {
    padding: 0.2em;
    padding-left: 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
}


