.mainNav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100vw;
}

.mainNav .logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.mainNav .logo h1 {
    font-weight: lighter;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainNav .iconLogo {
    height: 30px;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    transition: 0.3s ease;
}

.mainNav .close {
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.mainNav .close:hover {
    transform: scale(1.05);
}
.mainNav .icon {
    height: 30px;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.mainNav .icon:hover {
    transform: scale(1.05);
}

.mainNav .drawer {
    position: fixed;
    top: 0;
    right: 0;
    /* right: -300px;  */
    width: 250px;
    /* height: 100%; */
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 999;
    padding: 20px;
}

.mainNav .drawerHeader {
    display: flex;
    width: 100%;
    justify-content: end;
}

.mainNav .drawerLinks {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.mainNav .drawerDetails {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    padding-left: 2em;
    transition: 0.3em ease;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.mainNav .drawerDetailsActive:hover,
.mainNav.drawerDetails:hover {
    background-color: rgb(230, 230, 230);
}

.mainNav .drawerDetailsActive {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: black;
    align-items: center;
    gap: 1em;
    padding-left: 2em;
    transition: 0.3em ease;
    cursor: pointer;
}


